<div class="container-fluid">
        
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card"     style="width: 18rem;">
              <a href="#">
              <img src="../../assets/newarrival.gif" class="card-img-top" alt="...">
              </a>
              <h6 class="card-title" style="color: white;"> aa</h6> 
              
              
            </div>
            <div class="card" style="width: 18rem;">
              <a href="#">
              <img src="assets/k1.jpg" class="card-img-top" alt="...">
              </a>
             <h5 class="card-title">Women's Regular T-Shirt</h5> 
          
                
              
            </div>
            <div class="card" style="width: 18rem;">
              <a href="#">
              <img src="assets/n1.jpg" class="card-img-top" alt="...">
              </a>
              <h5 class="card-title">Check Twill Casual Shirt</h5> 
         
              
            </div>
            
        </div>
        <div class="carousel-item">
          <div class="card" style="width: 18rem;">
              <a href="#">
              <img src="assets/r1.jpg" class="card-img-top" alt="...">
              </a>
              <h5 class="card-title">Hawaii Men's Holiday Shirt</h5> 
              
            </div>
            
            <div class="card" style="width: 18rem;">
              <a href="#">
              <img src="assets/l1.jpg" class="card-img-top" alt="...">
              </a>
              <h5 class="card-title">Men's Long Kurta</h5> 
              
        </div>
        <div class="card" style="width: 18rem;">
          <a href="#">
          <img src="assets/p1.jpg" class="card-img-top" alt="...">
          </a>
          <h5 class="card-title">Women's Top With Dhoti Suit</h5> 
          
    </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
  
  
  </div>
